$colors: (
  "blue": #3e7cb1,
  "green": #23a07d,
  "purple": #be12c9,
  "red": #e26361,
  "yellow": #ffbd00,
  "orange": #f17300,
  "default": #3e7cb1,
);

html {
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
}
.app {
  min-height: 100vh;
}

.grey {
  color: #b8c5d9bd;
}

@each $name, $value in $colors {
  .no-text-decoration-link-#{$name} {
    text-decoration: none;
    color: $value;
    font-weight: bold;
  }

  .link-#{$name} {
    @extend .no-text-decoration-link-#{$name};
    &:hover {
      color: $value !important;
      text-decoration: underline !important;
      text-decoration-color: $value;
    }
  }

  .username-link-#{$name} {
    text-decoration: none;
    &:hover {
      .message-displayname {
        color: $value;
        text-decoration: underline;
        text-decoration-color: $value;
      }
    }
  }
  .button-#{$name} {
    background-color: $value !important;
    color: #eee !important;
    &:hover {
      background-color: darken($value, 4%) !important;
    }
  }
  .navbar-button-#{$name} {
    color: $value;
    cursor: pointer;
    &:hover {
      color: $value;
    }
  }

  .radio-#{$name} {
    color: $value !important;
    .Mui-checked {
      color: $value !important;
    }
    .MuiSvgIcon-root {
      height: 2.4rem !important;
      width: 2.4rem !important;
    }
  }
  .floating-new-message-button-#{$name} {
    position: fixed !important;
    bottom: 0;
    right: 0;
    margin: 2rem !important;
    background-color: $value !important;
    color: #eee !important;
    &:hover {
      background-color: darken($value, 0.1) !important;
    }
  }
  .color-#{$name} {
    color: $value !important;
  }
  .pin-#{$name} {
    color: #8aadbd !important;
    &:hover {
      color: $value;
    }
  }
  .border-bottom-#{$name} {
    border-bottom: 1px solid $value;
  }
  .indicator-#{$name} {
    background-color: $value !important;
  }
}
